/*TODO:
    Give a background-color to page
    Make type bold and colored based on typing
    Change color scheme based on typing
    add a @media rule to make font smaller on narrow screen
*/

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Verdana, Arial, sans-serif;
}

body {
  background-color: beige;
  margin: 0.5rem;
}

main, header, footer {
  display: block;
  margin: 0 auto;
  max-width: 1000px;
}

header, footer {
  background-color: lightsalmon;
  padding: 2rem;
  text-align: center;
  margin: 0.5rem auto;
  border-radius: 5px;
}

h1 {
    color: black;
    font-size: 2.5rem;
}

#intro {
  padding: 3rem 2rem;
  font-style:italic;
  color:white;
  background-color: grey;
  border-radius: 5px;
  text-align: center;
}

fieldset {
  margin: 0.5rem auto;
  padding: 1rem;
  border-color: lightgrey;
  border-radius: 5px;
}

fieldset p {
  margin: 0 0 1rem 0;
  font-weight: bold;
}

li {
  list-style-type: none;
  margin: 0.5rem;
}

button {
  display: block;
  margin: 1rem auto;
  padding: 0.5rem;
  font-size: 1rem;
  border-style: none;
  background-color: grey;
  color:white;
  border-radius: 5px;
  min-width: 350px;
}

button:hover {
  background-color: green;
}

#resultsType {
    font-size: 2rem;
    margin: 1rem;
    padding: 0 2rem;
    background-color: lightgrey;
    /* height: 90vh; */
}

#resultsDescription {
  margin: 2rem 2rem 3rem 2rem;
  line-height: 2;
  font-style: italic;
}